<div class="container" >
    <div class="row">
        <div class="col text-center">
            <img class="docImg" src="./../../../../assets/img/doctor.jpg" alt="">

            <div translate>
                Cette fonctionnalité n'est disponible que pour les utilisateurs enregistrés
            </div>
            <div class="row mt-3 mb-5">
                <div class="col-md  text-md-right">
                    <h6 translate>Vous avez déjà un compte? </h6>
                </div>
                <div class="col pl-md-0 pointer text-md-left" [routerLink]="[ '/auth/login' ]">
                    <h6 class="blueText" translate>Cliquez ici pour vous connectez</h6>
                </div>
            </div>
        </div>
    </div>
</div>